.ums-label {
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

.ums-label:first-of-type {
  margin-top: 0;
}

.ums-select {
  display: block;
  margin-top: .2em;
}

.ums-profile {
  display: block;
  text-align: center;
  border-radius: 5px;
  margin-top: .2em;
  padding: .3em 1em;
}

.ums-cc {
  background-color: #92aa25;
}

.ums-cc-fl {
  background-color: #fee01b;
}

.ums-cc-fh {
  background-color: #e34b21;
}

.ums-unknown {
  background-color: lightgray;
}
